@model VMtoevoegen;

<!DOCTYPE html>

<html>
<head>
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Toevoegen</title>
</head>
<body class="m-3">
    <form asp-action="Toevoegen" asp-controller="Home">
        <h2 class="text-center"><img class="artikelKlein" src="~/images/HighSpiritsLogo.png"/> - artikel toevoegen aan winkelmandje </h2>
        <div class="position-relative m-4">
            <div class="progress" style="height: 1px;">
                <div class="progress-bar bg-dark" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <button type="button" class="position-absolute top-0 start-0 translate-middle btn btn-sm btn-dark rounded-pill" style="width: 2rem; height:2rem;">1</button>
            <button type="button" class="position-absolute top-0 start-50 translate-middle btn btn-sm btn-secondary rounded-pill" style="width: 2rem; height:2rem;">2</button>
            <button type="button" class="position-absolute top-0 start-100 translate-middle btn btn-sm btn-secondary rounded-pill" style="width: 2rem; height:2rem;">3</button>
        </div>
        <table class="table text-center">
            <tr>
                <td rowspan="5">
                    <img class="artikelGroot" src="@Url.Content("~/images/"+Model.product.Foto)" />
                </td>
                <td>
                    ArtNr.
                </td>
                <td>
                    @Model.product.ProductID
                </td>
            </tr>
            <tr>
                <td>
                   Naam
                </td>
                <td>
                    @Model.product.ProductNaam
                </td>
            </tr>
            <tr>
                <td>
                    Verkoopprijs
                </td>
                <td>
                    @Model.product.Verkoopprijs
                </td>
            </tr>
            <tr>
                <td>
                    Voorraad
                </td>
                <td>
                    @ViewBag.Voorraad
                </td>
            </tr>
            <tr>
                <td>
                    Omschrijving
                </td>
                <td>
                    @Model.product.Omschrijving
                </td>
            </tr>
        </table>
            
       <p class="text-center">Aantal toe te voegen aan winkelmandje: <input type="text" asp-for="@Model.winkelmandje.Aantalstuks" /> <input class="btn btn-dark" type="submit" value="Voeg aan winkelmandje toe..." /></p>
        
        <p class="text-center fout">@ViewBag.Fout</p>
        <p class="text-center"><a asp-action="Index" class="geenLijn">Ga terug naar catalogus...</a></p>
        
    </form>
</body>
</html>
